@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans:wght@400;600;800&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans:wght@300&display=swap'); */

:root {
	--navbar-background: #141414;
	/* Green Accent Colors */
	--accent-light: #b4f7d6;
	--accent-medium: #48ce94;
	--accent-dark: #2e8460;
	--accent-low-sat: #67aa8a;
	--accent-low-sat-light: #7bcba5;
	--accent-hover: #16f5bd;
	/* Blue Accent Colors */
	/* --accent-light: #b4cef7;
	--accent-medium: #487bce;
	--accent-dark: #2e4f84;
	--accent-low-sat: #6781aa;
	--accent-low-sat-light: #7b9acb;
	--accent-hover: #166cf5; */
	/* Orange Accent Colors */
	/* --accent-light: #f7cab4;
	--accent-medium: #ce7548;
	--accent-dark: #844b2e;
	--accent-low-sat: #aa7e67;
	--accent-low-sat-light: #cb967b;
	--accent-hover: #f56016; */
}

@media (prefers-color-scheme: dark) {
	:root {
		--color: white;
		--color-two: #f7f7f7;
		--background: #222222;
		--background-two: #262626;
		--background-three: #363636;
		--link-base: var(--accent-medium);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--color: #363636;
		--color-two: #515151;
		--background: #ffffff;
		--background-two: #efefef;
		--background-three: #ebebeb;
		--link-base: var(--accent-dark);
	}
}

/*.icon:before {
	top: 250px;
	position: relative;
}*/

body {
	margin: 0px;
	background: var(--background);
}

.search-overlay {
	background-color: var(--navbar-background);
	position: fixed;
	padding: 12px;
	right: 0px;
	display: none;
}

#search-overlay-button {
	color: var(--color);
	display: block;
	position: fixed;
	right: 20px;
	top: 0px;
	border-bottom: 0px;
}

#search-overlay-button:hover {
	color: var(--accent-medium);
}

#search-overlay-button:focus {
	border: 2px solid var(--accent-medium);
}

.search-bar {
	color: var(--color);
	background-color: var(--background);
	width: 250px;
	display: block;
	border: none;
	padding: 10px;
	padding-left: 20px;
	border-radius: 20px;
/* 	position: absolute; */
	top: 12px;
	right: 110px;
}

.icon {
	margin-right: 10px;
	font-size: 16pt;
	overflow-y: hidden; /* Safari/Webkit browsers have an issue displaying the icons. At least here they won't create massive elements */
	vertical-align: baseline;
}

.table {
	width: 100%;
	overflow: hidden;
	border-collapse: collapse;
	font-size: 10pt;
	display: inline-block;
	overflow: auto;
}

.table th, .table td {
	padding: 10px;
	margin: 10px;
	overflow: hidden;
}

.table th {
	background-color: #48ce9455;
}
.table tr:nth-child(even) {
	background-color: #a2a2a255;
}
.table tr:hover {
	background-color: #48ce9455;
}
.btt-button {
	display: none;
/* 	background: var(--accent-medium); */
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 12pt;
	color: white;
	cursor: pointer;
	padding: 20px;
/* 	border-radius: 6pt; */
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
}

/*.btt-button:hover {
	background: var(--accent-dark);
}*/

.cookie-banner {
	font-family: 'Noto Sans', sans-serif;
	display: block;
	position: fixed;
	background-color: var(--accent-light);
	border-top: 4px solid var(--accent-dark);
	color: #363636;
	bottom: 20px;
	left: 20px;
	padding: 30px;
	font-size: 10pt;
	width: 50%;
	display: none;
}

.collapsible-header {
	padding: 20px;
	border-bottom: #969696 solid 2px;
	cursor: pointer;
}

.collapsible-header:hover {
	border-bottom: #d9d9d9 solid 2px;
}

.collapsible {
	display: none;
}

.ack-logo {
	display: inline-block;
	vertical-align: center;
}

.button-icon {
/* 	padding: 2px; */
	padding-right: 10px;
	display: inline-block;
	offset-position: center;
}


.citation{
	border-color: #969696;
	border-style: solid;
	border-width: 1px;
	border-left: 4px solid #969696;
	background-color: var(--background-two);
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.note, .error, .warning {
	display: block;
	padding: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 80%;
/* 	border-radius: 6px; */
}

.error-small {
	display: inline-block;
	padding: 10px;
}

.note {
/* 	color: #1e3229; */
	background-color: #48ce9444;
	border-left: 4px solid var(--accent-dark);
}

.warning {
/* 	color: #1B1B1B; */
	background-color: #ffdc7444;
	border-left: 4px solid #8e5c26;
}

.error, .error-small {
/* 	color: #1B1B1B; */
	background-color: #ff747444;
	border-left: 4px solid #8e2626;
}

.note:hover {
	border-left: 4px solid var(--accent-medium);
}

.inline-code, .inline-code-note {
	display: inline;
	font-weight: semi-expanded;
	font-family: 'Noto Sans Mono', monospace;
	font-size: 10pt;
	white-space: nowrap;
	padding: 5px;
	background-color: var(--background-two);
}

/*.inline-code {
}*/

/*.inline-code-note {
	background-color: #efefef;
}*/

.code {
	border-color: #969696;
	font-weight: semi-expanded;
	font-family: 'Noto Sans Mono', monospace;
	font-size: 10pt;
	border-style: solid;
	border-width: 1px;
/* 	border-radius: 6px; */
	background-color: var(--background-two);
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-left: 4px solid #969696;
}

.code:hover, .citation:hover {
	border-left: 4px solid #d9d9d9;
}

.content input[type=text], select, textarea {
	color: var(--color);
	background: var(--background);
	width: 100%;
	padding: 16px;
	border: none;
	border-bottom: 1px solid #555555;
/* 	border-radius: 24px; */
/* 	border-left: 4px solid #aaaaaa; */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.noscript {
	position: fixed;
	width: 100%;
	color: #140505;
	background-color: #e08d8d;
	border-top: 4px solid #c83737;
	bottom: 0px;
	z-index: 500;
	padding: 30px;
	font-family: "Noto Sans", sans-serif;
}

/*.content input[type=text]:hover {
	border-left: 4px solid #777777;
}*/

.just-icon {
	margin-right: 0px;
}

.form {
/* 	background-color: var(--background-two); */
/* 	padding: 20px; */
	border: 1px solid var(--backround-two);
}

.button, input[type=submit], .btt-button {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	background-color: var(--accent-medium);
/* 	border-radius: 6px; */
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	border: none;
	vertical-align: middle;
	line-height: 20px;
	cursor: pointer;
	vertical-align: center;
	border-left: 4px solid var(--accent-low-sat);
	font-variant: small-caps;
}

.button:hover, input[type=submit]:hover, .btt-button:hover {
	color: white;
	background-color: var(--accent-low-sat);
	transition: all 0.15s ease;
}
.graphic {
	float: right;
	margin: 10px;
	padding: 20px;
}

a {
	color: var(--link-base);
	text-decoration: none;
}

a:hover {
	color: var(--accent-hover);
}

p {
	text-align: justify;
}

.banner {
	margin: 0;
	position: static;
	display: block;
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 200px;
	padding-bottom: 200px;
	width: 60%;
	color: white; /*var(--color-two);*/
	background-color: var(--background-two);
	font-family: 'Noto Sans', sans-serif;
	background-image: url("images/banner.png");
	text-shadow: 0 0 4px black;
}

.banner h1 {
	font-size: 32pt;
}

.banner h2 {
	font-size: 24pt;
}

.banner .button {
	text-shadow: 0 0 2px #00000000;
}

.content {
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	color: var(--color);
	font-family: 'Noto Sans', sans-serif;
	margin-top: 50px;
	margin-bottom: 50px;
	transition: all 0.5s ease;
}

.feed {
	display: block;
	float: right;
	width: 45%;
	padding: 20px;
	border-left: 1px solid #444444;
	margin-left: 20px;
}

.feed h1 {
	margin: 0px;
}

.feedbox {
	background-color: #ddd1;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
	padding-top: 25px;
	padding-bottom: 25px;
	overflow-y: auto;
	max-height: 400px;
}

.feedbox a {
	color: var(--color);
	display: block;
	padding: 10px;
	border-top: 1px solid #444444;
}

.feedbox a:hover {
	background-color: var(--background-two);
	transition: all 0.2s ease;
}

.contents {
	background-color: var(--background-two);
	padding: 20px;
}

.navbar li {
	font-family: 'Noto Sans', sans-serif;
	display: inline;
	float: left;
}

.navbar li a, .dropbtn {
	display: block;
	color: white;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	border-bottom: 4px solid var(--navbar-background);
	transition: all 0.1s ease;
}

#stamina {
	font-weight: bold;
	padding-left: 40px;
	padding-right: 40px;
	background-color: var(--navbar-background);
	transition: all 0.1s ease;
}

#stamina:hover {
	color: var(--accent-low-sat);
}

#slogo {
	display: inline;
	border: 2px solid white;
	padding: 4px;
}

#slogo:hover {
	border: 2px solid var(--accent-low-sat);
}

.navbar .openbutton, .navbar .closebutton {
	display: none;
}
.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--navbar-background);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	font-variant: small-caps;
	z-index: 100;
}

.navbar li a:hover, .dropdown:hover, .stamina-name:hover {
/* 	background-color: var(--accent-low-sat); */
	border-bottom: 4px solid var(--accent-medium);
	color: var(--accent-medium);
}

#active, .active, .fluent {
/* 	background-color: var(--accent-medium); */
	border-bottom: 4px solid var(--accent-medium);
	color: var(--accent-medium);
}

ul.navbar li.right {
	float: right;
}

.dropdown-content {
	display: block;
	height: 0px;
	position: fixed;
	background-color: var(--navbar-background);
	overflow-y: hidden;
}

.dropdown-content a {
	border-bottom: 4px solid var(--navbar-background);
}

@keyframes drop-down {
	from { height: 0px; opacity: 0%; overflow-y: hidden; }
	to { height: auto; opacity: 100%; overflow-y: hidden; }
}

#get:hover #get-dropdown, #documentation:hover #documentation-dropdown {
	transition: all 0.2s ease;
	display: block;
	opacity: 100%;
	height: auto;
	animation: drop-down 0.65s ease;
}

.footer {
	font-size: 10pt;
	display: block;
	position: absolute;
	font-family: 'Noto Sans', sans-serif;
	background-color: var(--background-two);
	color: var(--color);
	left: 0;
	right: 0;
	width: 80%;
	text-align: center;
	padding: 40px 0;
	padding-left: 10%;
	padding-right: 10%;
	z-index: -1;
}

.footer a {
	color: var(--accent-dark);
	text-decoration: none;
}

.footer-links table {
	display: inline;
	text-align: left;
	width: 100%;
}

.footer-links table a {
	color: var(--color);
}

.footer-links td, .footer-links th {
	padding-left: 30px;
	padding-right: 30px;
}

.top-buffer {
	height: 60px;
}

.clickable-icon {
	display: inline-block;
	padding: 5px;
}

.clickable-icon:hover {
	color: var(--link-base);
}

#query {
	padding: 12px;
	padding-left: 24px;
	border: none;
	background-color: var(--background-two);
}

.fadein, .fadeout {
	animation: fade-in 0.6s ease;
}

.fadeout {
	animation-direction: reverse;
}

.disabled-box {
	pointer-events: none;
	opacity: 20%;
}

@keyframes fade-in {
	from { opacity: 0%; }
	to { opacity: 100%; }
}

@media screen and (max-width: 900px) {
	.navbar {
		border-bottom: 4px solid var(--accent-medium);
	}
	
	#openbutton {
		color: var(--accent-medium);
	}
	
	#openbutton:hover, #search-overlay-button:hover {
		border-bottom: 4px solid var(--navbar-background);
	}

	ul.navbar li.right,
	ul.navbar li {
		float: none;
		z-index: 1;
	}
	ul.navbar a {
		display: none;
	}
	.navbar .openbutton {
		display: block;
	}
	.footer-links td, .footer-links th {
		padding-left: 10px;
		padding-right: 10px;
	}
	.search-overlay {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: fixed;
		background-color: #000000cc;
	}
	.search-overlay a {
		position: fixed;
		top: 50px;
		color: white;
	}
	.search-bar {
		position: fixed;
		width: 80%;
		right: 5%;
		top: 100px;
/* 		top: 382px; */
	}
	#search-overlay-button {
		color: white;
	}
}

@media screen and (max-width: 1500px) {
	.graphic {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.content {
		margin-left: 10%;
		margin-right: 10%;
		width: 80%;
	}
	.feed {
		float: left;
		width: 100%;
		padding: 0px;
		border-bottom: 1px solid #444444;
		border-left: 0px;
		margin-left: 0px;
		margin-bottom: 20px;
	}
}
